/*Estilos Globales*/
*::after,
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Bahnschrift';
    text-align: center;
    color: #333333;
}

/*Main*/
.container-items{
    width: 100%;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;*/
    align-items: center;
}

img{
    max-width: 100%;
}

/*Estilos header*/
header{
    /*display: flex;
    justify-content: space-between;*/
    padding: 30px 0 40px 0;
}

.count-products{
    position: absolute;
}

.item {
    background-color: rgba(250, 242, 248, 0.219); 
    margin-top: 10px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid rgb(54, 53, 53);
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.70);
}

.info-product{
    width: 100%;
    height: 200px;
    object-fit: cover;
    text-align: center; 
}

/*.container-icon{
    width: 150px;
    height: 150px;
    stroke: #000;
    align-items: center;
}*/

/* Estilo del icono */
.calification-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor; /* Esto toma el color del elemento padre, que en este caso será el color del texto */
    float: right; /* Alinea el icono a la izquierda del texto */
    margin-right: 5px; /* Crea un pequeño espacio entre el icono y el texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono para indicar que es clickeable */
  }

  /* Cambiar la fuente de la letra */
  .info-product h2 {
    font-family: "Arial", sans-serif; /* Cambia la fuente del título a Arial o cualquier otra fuente */
  }

  .item-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .red {
    color: rgb(241, 46, 46);
  }

  .cora {
    color: black; /* Color inicial del ícono */
}

.cora.active {
    color: red; /* Color cuando está activo (clicado) */
}